<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Responsive Sidebar Menu | CodingLab </title>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-c-plus-plus icon'></i>
            <div class="logo_name">Empresa</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <i class='bx bx-search'></i>
                <input type="text" placeholder="Search...">
                <span class="tooltip">Buscar</span>
            </li>

            <li>
                <a href="http://localhost:3000/empleado/consultatodos">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Empleados</span>
                </a>
                <span class="tooltip">Gestión Empleados</span>
            </li>

            <li class="profile">
                <div class="profile-details">
                    <img src="/images/profile.jpg">
                    <div class="name_job">
                        <div class="name">Prem Shahi</div>
                        <div class="job">Web designer</div>
                    </div>
                </div>
                <a class="logout" href="http://localhost:3000/logout">
                    <i class='bx bx-log-out' id="log_out" ></i>
                  </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="cabPage">
            <div class="titlePage">
                <h1>
                    <% if(typeof usu.nombres=== 'undefined' ) {%>Agregar Empleado<%}else{%>Editar Empleado<%}%>
                </h1>
                <a title="Volver Gestión Empleaados" href="http://localhost:3000/empleado/consultatodos"><i
                        class='bx bx-left-arrow-alt'></i></a>
            </div>

        </div>

        <div class="gridForm">
            <form action="/empleado/add-empleado" method="POST">
                <input type="hidden" name="id" value="<% if(typeof usu.nombres!= 'undefined' ) {%><%=usu._id%><%}%>">   
                <div class="rowform">
                    <div class="input">
                        <label for="nombres">Nombres:</label>
                        <input type="text" placeholder="Ingrese nombres completos" id="nombres" name="nombres" value="<%=usu.nombres%>">
                    </div>
                    <div class="input">
                        <label for="apellidos">Apellidos:</label>
                        <input type="text" placeholder="Ingrese apellidos completos" id="apellidos" name="apellidos" value="<%=usu.apellidos%>">
                    </div>
                </div>
                <div class="rowform">
                    <div class="input">
                        <label for="cedula">Cédula:</label>
                        <input type="text" placeholder="Ingrese cedula" id="cedula" name="cedula" value="<%=usu.cedula%>">
                    </div>
                    <div class="input">
                        <label for="correo">correo:</label>
                        <input type="email" placeholder="Ingrese correo" id="correo" name="correo" value="<%=usu.correo%>">
                    </div>
                </div>
                <div class="rowform">
                    <div class="input">
                        <label for="proceso">Proceso:</label>
                        <input type="text" placeholder="Ingrese proceso" id="proceso" name="proceso" value="<%=usu.proceso%>">
                    </div>
                    <div class="input">
                        <label for="subproceso">Subproceso:</label>
                        <input type="text" placeholder="Ingrese subproceso" id="subproceso" name="subproceso" value="<%=usu.subproceso%>">
                    </div>
                </div>
                <div class="rowform">
                    <div class="input">
                        <label for="cod_partida">Partida:</label>
                        <input type="text" placeholder="Ingrese codigo de partida" id="cod_partida" name="partida" value="<%=usu.partida%>">
                    </div>
                   
                    <div class="input">
                        <label for="lugar_trabajo">Lugar de Trabajo:</label>
                        <input type="text" placeholder="Ingrese lugar_trabajo" id="lugar_trabajo" name="l_trabajo" value="<%=usu.l_trabajo%>">
                    </div>
                </div>
                <div class="rowform">
                    <div class="input">
                        <label for="remuneracion">Remuneración:</label>
                        <input type="text"  placeholder="Ingrese remuneracion" id="remuneracion" name="rmu" value="<%=usu.rmu%>">
                    </div>
                    <div class="selectForm">
                        <label for="estado">Estado:</label>
                        <select name="estado" id="estado">
                            <option <% if(usu.estado=='1') {%>selected <%} %> value="1">Activo</option>
                            <option <% if(usu.estado=='0') {%>selected <%} %> value="0">Inactivo</option>
                        </select>
                    </div>
                </div>
             
                
                <div class="rowform">
                    <div class="input">
                        <label for="fig">F.I.G.:</label>
                        <input type="date" placeholder="Ingrese F.I.G" id="fig" name="fig" value="<%=usu.fig%>">
                    </div>
                    <div class="selectForm">
                        <label for="modalidad">Modalidad:</label>
                        <select name="modalidad" id="modalidad">
                            <option <% if(usu.modalidad=='nom') {%>selected <%} %> value="nom">Nombramiento</option>
                            <option <% if(usu.modalidad=='nom_pro') {%>selected <%} %> value="nom_pro">Nombramiento Provisional</option>

                        </select>
                    </div>
                </div>
                

                <div class="rowform">
                    <div class="selectForm">
                        <label for="lugar">Lugar:</label>
                        <select name="lugar" id="lugar">
                            <option <% if(usu.modalidad=='Floreana') {%>selected <%} %> value="Floreana">Floreana</option>
                            <option <% if(usu.modalidad=='Guayaquil') {%>selected <%} %> value="Guayaquil">Guayaquil</option>
                            <option <% if(usu.modalidad=='Isabela') {%>selected <%} %> value="Isabela">Isabela</option>
                            <option <% if(usu.modalidad=='Quito') {%>selected <%} %> value="Quito">Quito</option>
                            <option <% if(usu.modalidad=='San Cristobal') {%>selected <%} %> value="San Cristobal">San Cristobal</option>
                            <option <% if(usu.modalidad=='Santa Cruz') {%>selected <%} %> value="Santa Cruz">Santa Cruz</option>
                        </select>
                    </div>
                    <div class="input">
                        <label for="denominacion">D. puesto:</label>
                        <input type="text" placeholder="Ingrese Denominación del puesto" id="denominacion"
                            name="puestoD" value="<%=usu.puestoD%>">
                    </div>
                </div>
                <div class="rowform">
                    <div class="input">
                        <label for="vig_nom">V. nombramiento:</label>
                        <input type="date" placeholder="Ingrese fecha" id="vig_nom" name="fv_nombramiento" value="<%=usu.fv_nombramiento%>">
                    </div>
                    <div class="input">
                        <label for="puesto">Puesto:</label>
                        <input type="text" placeholder="Ingrese puesto" id="puesto" name="puesto" value="<%=usu.puesto%>">
                    </div>
                 
                </div>
                
                <div class="rowbutton">
                    <div class="btnForm">
                        <input type="submit" value="Registrar">
                    </div>
                </div>
        </div>
        </form>
        </div>


    </section>

    <script >
    

let sidebar = document.querySelector(".sidebar");
let closeBtn = document.querySelector("#btn");
let searchBtn = document.querySelector(".bx-search");

closeBtn.addEventListener("click", ()=>{
  sidebar.classList.toggle("open");
  menuBtnChange();//calling the function(optional)
});

searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
  sidebar.classList.toggle("open");
  menuBtnChange(); //calling the function(optional)
});

// following are the code to change sidebar button(optional)
function menuBtnChange() {
 if(sidebar.classList.contains("open")){
   closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
 }else {
   closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
 }
}</script>

</body>

</html>
